body,html{
    text-align:center;
     background: linear-gradient(to bottom right, #FF7423, purple)no-repeat;
     background-size:cover;
     height:100%;
     font-weight: bold;
    font-size:30px;
     
}

h1 {
    font-family: cursive;
}


